.content
  .page-header
    %h1
      Вход
      %small введите URL магазина
  = form_tag main_app.login_path, :class => 'form-search' do
    = text_field_tag 'shop', nil, :placeholder => 'URL магазина', :class => 'btn-large', :id => 'shop'
    = submit_tag 'Войти', :class => 'btn btn-primary btn-large'
